.page2{
    display: flex;
}

.table2{
    height: 80vh;
    width: 80%;
    overflow-y: scroll;
    margin-top: 4%;
}
.table2 , td, tr{
    border: 1px solid rgb(241, 241, 241);
    border-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}


.table2 td{
    width: fit-content;
    height: 5%;
}
.table2 td:nth-child(4){
    color: rgb(253, 100, 100);
}
.table2 td i{
display: inline; margin-right: 5%;
}
.table2 tr:nth-child(1){
background-color: rgba(60, 211, 156, 0.885);
color: rgb(241, 241, 241);
font-weight: bold;

}

